:root{
    /*colors*/
    --color-text:#ffffff;
    --color-primary:#576cbc;
    --color-secondary:#19376d;
    --color-dark:#0b2447;
    --color-background:#04152d;
    /*fonts*/
    --font-roboto:"Roboto";
}